<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->
    <link rel="icon" href="~/wp-content/uploads/2018/06/cosmicfavi.png" sizes="32x32" />
    <!--===============================================================================================-->
    <link rel="stylesheet" id="bootstrap-css" href="~/wp-content/themes/stack/style/css/bootstrapb3e8.css?ver=0.1" type="text/css" media="all" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wp-content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wp-content/vendor/animate/animate.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wp-content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/wp-content/css/login.css">
    
    <!--===============================================================================================-->

    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
<!--===============================================================================================-->	
<script src="~/wp-content/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/wp-content/vendor/bootstrap/js/popper.js"></script>
	
<script src="~/wp-content/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/wp-content/js/main.js"></script>
<!--===============================================================================================-->
<script>
    $(".js-tilt").tilt({
        scale: 1.1
    })
</script>
</body>
</html>
