
@{
    ViewBag.Title = "ExportingReport";
}

<div class="container-fluid">
    <div class="row mt-md">
        <div class="col-md-12">
            <ul class="snip1189">

                <li><a href="@Url.Action("SaleReport","Reports")">Sales</a></li>

                <li><a href="@Url.Action("InventoryReport","Reports")">Inventory</a></li>

                <li><a href="@Url.Action("MiscellaneousReport","Reports")">Miscellaneous</a></li>

                <li class="current"><a href="#">Exporting</a></li>

                <li><a href="@Url.Action("MyReports","Reports")">My Reports</a></li>




            </ul>
            <hr />

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h4 class=" wb-color  text-center mb-xl">Exporting Reports</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart "> Data</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart ">Orders</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"><button type="button" class="btn outline-success chart ">Coupons</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart ">Customers</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart "> StockTaking</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart ">Inventory Transactions</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success  chart">Purchase Orders</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="#"> <button type="button" class="btn outline-success chart ">Snapshots</button></a>
                </div>



          

            </div>
        </div>
    </div>



</div>
