@using POSApp.Core.Models
@model POSApp.Core.ViewModels.ReportLogViewModel

<div class="mt-md pull-right">

    
    <a href="@Url.Action("MyReports", "Reports")" style="flex-grow: 0">
        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>My Reports</button>

    </a>
</div>
<br/>
<br />
<br />
<iframe src="http://localhost:59631/Content/Reports/@Model.Path" frameborder="0" height="500px" scrolling="yes" width="100%"></iframe>
