@using POSApp.Core.Models
@model POSApp.Core.ViewModels.ReportLogViewModel

<div class="mt-md pull-right">

    
    <a href="@Url.Action("MyReports", "Reports")" style="flex-grow: 0">
        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>@POSApp.Resources.Resource.Myreport</button>

    </a>
</div>
<br/>
<br />
<br />

<div class="col-md-12">
    <div class="tabs  tabs-left">
        <div class="row">
            <div class="tab-content col-md-8 col-xs-12 col-md-offset-2  p-xlg">
                <iframe src="~/Content/Reports/@Model.Path" frameborder="0" height="500px" scrolling="yes" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>
