@model IEnumerable<POSApp.Core.ViewModels.UserStoreViewModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>POSCosmic - Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="/wp-content/uploads/2018/06/cosmicfavi.png" sizes="32x32" />
    <!--===============================================================================================-->
    <link rel="stylesheet" id="bootstrap-css" href="/wp-content/themes/stack/style/css/bootstrapb3e8.css?ver=0.1" type="text/css" media="all" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/wp-content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/wp-content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/wp-content/css/util.css">
    <link rel="stylesheet" type="text/css" href="/wp-content/css/login.css">
    <!--===============================================================================================-->
</head>
<body>



    <div class="limiter">

        <div class="container-login100">

            <div class="wrap-login100">
                <div class="login100-pic ">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img class="logo logo-dark" alt="cosmic Logo" src="/wp-content/images/cosmic-logo1.png" />
                        </div>
                    </div>

                    <div class="js-tilt pic-hidden" data-tilt>
                        <div>
                            <img src="/wp-content/images/banner1.png" alt="IMG">
                        </div>

                    </div>

                </div>
               
                    <div class="login100-form" >
                        <span class="login100-form-title">
                            Your Stores
                        </span>
                   
                        <div class="col-md-6 boxx">
                           
                            <ul>
                            @foreach (var store in Model)
                            {
                               
                                   
                                <a href="#"><li class="lih">@store.StoreName</li></a>
                                   
                               
                            }
                            </ul>
                        </div>
                    </div>
               
                 


                
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="/wp-content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script>
        window.onkeydown = function (event) {
            if (event.keyCode === 27) {
                window.close();
            }
        };
    </script>
    <script type="text/javascript">

        function checkForm(form) {
            //
            // validate form fields
            //

            form.myButton.disabled = true;
            return true;
        }

    </script>
    <!--===============================================================================================-->
    <script src="/wp-content/vendor/bootstrap/js/popper.js"></script>

    <script src="/wp-content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/wp-content/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })</script>
    <!--===============================================================================================-->

</body>
</html>
