@model POSApp.Core.ViewModels.InventoryStockViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stock</title>

</head>
<body>
<div>
    <p>@Model.Stock</p>
</div>
</body>
</html>
