
@model IEnumerable<PoSCloudApp.Core.Models.Designation>

@{
    ViewBag.Title = "DesignationList";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Designation List</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Designation Listing</span></li>
                <li><span>Setup</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            </div>

            <h2 class="panel-title">Listing</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var designation in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@designation.Name</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>




</section>

@section scripts
{
    <script>
        $('#datatable-default').dataTable();
    </script>
}


